<h2>Admin Menu</h2>

<hr>
<div class="col-6">
    <div>
        <div class="row">
            <div class="col-9">
           
            </div>
            <div class="col-3">
                <a href>Admin Logout</a>   
            </div>
        </div>
        <div class="row">
        <div class="col-3">
            <a routerLink="/manageSchedule">Manage Schedules</a> 
        </div>
        <div class="col-3">
            <a routerLink="/manageAirline">Manage Airlines</a> 
        </div>
        <div class="col-3">
            <a href="">Manage Discounts</a>
        </div>
        <div class="col-3">
            <a href>Reports</a>   
        </div>    
        
        </div>    
    </div>
    </div>
    