<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>About</h3>
                <p>We strive to deliver a level of service that exceeds the expectations of our customers. <br />
                    <br />
                    If you have any questions about our products or services, please do not hesitate to contact us. We have friendly, knowledgeable representatives available seven days a week to assist you.</p>
            </div>
            <div class="col-md-3">
                <h3>Tweets</h3>
                <p><span>Tweet</span><br />
                    Life is like an icecream enjoy it before it melts.!! </p>
                </div>
            <div class="col-md-3">
                <h3>Mailing list</h3>
                <p>For any queries regarding the products,please do not hesitate to contact us or mail us at:gagan20683@gmail.com</p>
                <br />
                
            </div>
            <div class="col-md-3">
                <h3>Social</h3>
                <p>103,Shakti Nagar<br />
                    Jalandhar,Punjab<br />
                    India<br />
                    <br />
                    Phone:+91-9041314578<br />
                    <br />
                    <br />
                </p>
                
            </div>
        </div>
        <hr>
        <p class="text-center">Developed And Designed by: Gaganpreet Singh</p>
    </div>
</footer>