<!--<h2 class="mt-3 mb-3 center">Welcome To Flight Booking</h2>
<br>

<br>


<div class="row">
    <div class="col-9">
   
    </div>
    <div class="col-3">
        <a routerLink="/userLogin">Login/Signup</a>   
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-6">
        <a routerLink="/adminMenu"> Admin </a><br>
        <a routerLink="/userMenu"> User </a>
    </div>
</div>
-->
<app-header></app-header>

<br><br>
<router-outlet></router-outlet>

<br><br><br><br><br><br>
<hr>

<app-footer></app-footer>

<!--
<a href="">Add Airline</a>

<br>
<br>
<app-add-airline></app-add-airline>

<br><br>

<app-admin-menu></app-admin-menu>

<br><br>

<app-manage-airlines></app-manage-airlines>

<br><br>

<app-book-flight-discount></app-book-flight-discount>

<br><br>

<app-schedule-search-results></app-schedule-search-results>

<br><br>

<app-search-schedule></app-search-schedule>

<br><br>

<app-booking-history></app-booking-history>

<br><br>

<app-manage-bookings></app-manage-bookings>

<br><br>

<app-book-flight></app-book-flight>
<br><br>
<app-user-menu></app-user-menu>
-->

