<h2>Booking History</h2>
<hr>
<div class="col-4">
    <div>
        <div class="row">
            <div class="col-11">

            </div>
            <div class="col-1">
                <a href>Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <a href>Book Flight</a>
            </div>
            <div class="col-4">
                <a href="">Manage Bookings</a>
            </div>
            <div class="col-4">
                <a href="">Booking History</a>
            </div>

        </div>
    </div>
</div>


<div>
    <h3 class="center"> Ticket Booking History</h3>
</div>
