<h2>Search-Schedule </h2>
<hr>
<div class="col-6">
    <div>
        <div class="row">
            <div class="col-11">
           
            </div>
            <div class="col-1">
                <a href>Logout</a>   
            </div>
        </div>
        <div class="row">
        <div class="col-3">
            <a href>Manage Schedules</a>   
        </div>
        <div class="col-3">
            <a href="">Manage Airline</a> 
        </div>
        <div class="col-3">
            <a href="">Manage Discounts</a>
        </div>
        <div class="col-3">
            <a href>Reports</a>   
        </div>    
        
        </div>    
    </div>
    </div>
    
<br>
<hr>
<div class="container">

    <body>
        <form>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="center">Select Airline</label>
                    <select id="airline" name="airline">
                        <option> ----- </option>
                        <option>Indigo</option>
                        <option>Vistara</option>
                        <option>Air Asia</option>
                        <option>Air India</option>
                        <option>Spice Jet</option>
                        <option>Go Air</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Flight Number</label>
                    <input type="text" class="form-control" id="flight_number" name="flight_number" />
                </div>
                <div class="form-group">
                    <label>Destination</label>
                    <input type="text" class="form-control" id="instrument" name="instrument" />

                </div>
            </div>
        </form>
        <br>
        <div class="form-group">
            <input type="button" value="Search" class="center" />
        </div>

    </body>
</div>